click==8.0.1
cycler==0.10.0
decorator==4.4.2
ezdxf==0.16.2
Flask==2.0.1
imageio==2.9.0
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.4.1
networkx==2.5.1
numpy==1.20.2
pdf2image==1.14.0
Pillow==8.2.0
pkg-resources==0.0.0
plotly==4.14.3
pyparsing==2.4.7
pytesseract==0.3.7
python-cafe==0.17.0
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==3.13
retrying==1.3.3
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.3
six==1.15.0
threadpoolctl==2.1.0
tifffile==2021.4.8
Werkzeug==2.0.1
XlsxWriter==1.4.3
