.valid {
    stroke: green;
}

.invalid {
    stroke: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    fill: black;
    fill-opacity: 0.45;
    stroke: white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.notebook-headers-navigation__link {
    text-decoration: none;
    background-color: transparent;
    display: block;
    padding: 0.5rem 1rem;
    padding-left: 0;
}

.notebook-headers-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.notebook__page-image img {
    position: absolute;
    top: 0;
    left: 0;
}

.notebook__page-image {
    position: relative;
    /*margin: 20px;*/
}

.notebook__page-image svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.notebook__page {
    display: none;
}

.notebook__page.active {
    display: inline !important;
}

.hidden {
    display: none;
}